{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Cadastrar Novo Visitante</h4>
        <p class="card-description">
          Cadastro de Visitante.
        </p>
      
          <form action="{% url 'cadastro_visitante' %}" method="post" enctype="multipart/form-data" class="forms-sample">{% csrf_token %}
            {% csrf_token %}
          <div class="form-group">
            <label for="id_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="id_nome" placeholder="Nome">
          </div>

          <div class="form-group">
            <label>Foto Perfil</label>
            
            <input type="file" name="foto"  style="background-color:#00946B; color: white" class="form-control "  required id="id_foto" placeholder="Foto" >

          </div>

          <button type="submit" style="color: azure;" class="btn btn-primary me-2">Cadastrar</button>
          
        </form>
      </div>
    </div>
  </div>


{% endblock %}